<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/header :: headerFragment"></head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:include="fragment/header :: main-headerFragment"></header>
    <aside class="main-sidebar" th:include="fragment/sidebar :: main-sidebarFragment"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Créditos Activos
                <small>Lista de clientes que cuentan con creditos activos</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Activos</li>
            </ol>
        </section>
        <section class="content">
            <!-- ESCRIBA AQUI SU CODIGO -->
            <div class="box box-primary">
                <div class="box-body">
                    <table id="table-cliente" class="table table-striped display responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th width="10"></th>
                            <th width="10"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer" th:include="fragment/footer :: main-footerFragment"></footer>
</div>
<!-- /.wrapper -->
<div th:replace="fragment/footer :: scripts"></div>
<!-- ADICIONE AQUI SU JS -->
</body>
</html>