<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/header :: headerFragment"></head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <header class="main-header" th:include="fragment/header :: main-headerFragment"></header>
    <aside class="main-sidebar" th:include="fragment/sidebar :: main-sidebarFragment"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Créditos Anulados
                <small>Lista de clientes que cuentan con creditos anulados</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Anulados</li>
            </ol>
        </section>
        <section class="content">
            <!-- ESCRIBA AQUI SU CODIGO -->
            <div class="box box-primary">
                <div class="box-body">
                    <table id="table-cliente" class="table table-striped display responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th width="10"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer" th:include="fragment/footer :: main-footerFragment"></footer>
</div>
<!-- /.wrapper -->
<div th:replace="fragment/footer :: scripts"></div>
<!-- datatable -->
<script th:src="@{/node_modules/datatables.net/js/jquery.dataTables.js}"></script>
<!-- datatable bs-->
<script th:src="@{/node_modules/datatables.net-bs/js/dataTables.bootstrap.js}"></script>
<!-- ADICIONE AQUI SU JS -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $('#table-cliente').DataTable({
        responsive: {
            details: true
        },
        "lengthChange": false,
        "ordering": false,
        "autoWidth": false,
        "bProcessing": true,
        "bServerSide": true,
        "sort": "position",
        "bStateSave": false,
        //"iDisplayLength": 10,
        "iDisplayStart": 0,
        "fnDrawCallback": function () {
        },
        "sAjaxSource": "/credito/clientes-credito-i",
        "aoColumns": [
            {
                "mData": null,
                "bSortable": false,
                "mRender": function (data) {
                    return data.ndocumento;
                }
            },
            {
                "mData": null,
                "bSortable": false,
                "mRender": function (data) {
                    return data.fullname;
                }
            },
            {
                "mData": null,
                "bSortable": false,
                "mRender": function (data) {
                    return '<a href="/credito/ver-creditos?id=' + data.id + '"><span class="btn btn-primary btn-flat btn-xs">Ver Créditos</span></a>';
                }
            },
        ]
    });
    /*]]>*/
</script>
</body>
</html>